# Entorno virtual
venv/
# Python cache
functions/__pycache__/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Archivos de instalación
dist/
build/
*.spec

# Archivos del editor
.vscode/
.idea/
# Llaves o archivos sensibles
#*.env

# otros
**lista_funciones.py
anotaciones.txt
test.py
test2.py
mensaje_git_update.txt
icon/Link_repositorio.jpg
test
estructura_proyecto.py
