# Virtual enviroment
venv/
# Python cache
functions/__pycache__/
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# .exe files
dist/
build/
*.spec

# Editor files
.vscode/
.idea/

# Test
test

# others
material soporte
setup.py
setup.txt
*setup